.nota-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.form-card {
  width: 90%;
  border-radius: 15px;
  background: #d9e8f2;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

ion-item {
  margin-bottom: 15px;
}

ion-button {
  margin-top: 20px;
  border-radius: 10px;
}
