.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 20px;
  padding: 20px;
}

.input-item {
  width: 80%;
  border-radius: 20px;
  --background: #2e9ec1;
  color: white;
}

ion-button {
  width: 60%;
  border-radius: 20px;
}

ion-footer {
  text-align: center;
  font-size: 0.8em;
}
